body {
  position: relative;
  font-size: 21px;
}
a.anchor {
  display: block;
  position: relative;
  top: -114px;
  visibility: hidden;
}
#content{
  font-family: "Helvetica Neue", Georgia,Cambria,"Times New Roman",Times,serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 114px;
  letter-spacing: .01rem;
  line-height: 1.58;
  letter-spacing: -0.003em;
}
ul.navbar-nav {
  text-align: center;
}
#navbar {
  padding: 10px;
  font-size: 22px;
  margin-bottom: 0px;
}
#navbar.navbar-default {
  background-color: rgba(255, 255, 255, 0.9);
}
#navbar .navbar-header{
  height: 93px;
  padding: 0px;
}

.navbar-nav li
{
  margin: 0;
  font-size: 3rem;
  line-height: 16px;
  padding: 1.5rem;
  margin-left: -1rem;
  float: left;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
}

#logo {
  margin-right: 10px;
}
#banner {
  width: 100%;
}
section {
  overflow: hidden;
  width: 700px;
  margin: 0 auto;
}
section > h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 1.15;
  letter-spacing: -0.02em;
}
@media (min-width: 768px) { /*768px for default min-width*/
  .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background-color: rgba(255, 255, 255, 0);
  }
  ul.navbar-nav {
    margin-top: 5px;
  }
  ul.navbar-nav > li {
    border-right: solid 1px #ccc;
  }
  ul.navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 35px;
    padding-left:25px;
    padding-right: 25px;
  }
}
.job {
  background-color: #f5f5f5;
  padding: 30px;
  margin-bottom: 20px;
}
.job > h2 {
  margin-top: 0px;
  font-size: 24px;
}
section.career > .table-of-content > li {
  list-style: none;
}
.benefits h4 {
  font-size: 21px;
}
.benefits ul {
  padding: 0 0;
}
.benefits ul > li {
  list-style-type: none;
  border-bottom: 1px solid #454545;
}
.benefits ul > li > span.icon{
  float: left;
  margin-right: 15px;
}
.benefits ul > li > p {
  margin-left: 65px;
  font-size: 18px;
}
span.icon {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-image: url(images/icon-sheet.png);
}
span.icon.money {
  background-position: 0px 0px;
}
span.icon.chest {
  background-position: 0px -50px;
}
span.icon.heal {
  background-position: 0px -100px;
}
span.icon.clock {
  background-position: 0px -150px;
}
span.icon.apple {
  background-position: 0px -200px;
}
span.icon.dining {
  background-position: 0px -250px;
}
span.icon.sick {
  background-position: 0px -300px;
}
span.icon.vacation {
  background-position: 0px -350px;
}
address {
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  color:#444;
}
footer p{
  color:#BBB;
}