.wrapper{
  width: 100%;
  height: auto;
  overflow: hidden;
}
.video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
header{
  position: absolute;
  width: 100%;
  height: 56px;
  top: 0;
  left: 0;
  background-color: #fcfcfc;
  z-index: 1;
}
header main{
  display: flex;
  justify-content: space-between;
}
header nav{
  display: flex;
  width: 506px;
  height: 26px;
  margin-top: 15px;
}
header nav a{
  position: relative;
  flex: 1;
  text-align: center;
  line-height: 26px;
  font-weight: bold;
  color: #666666;
  font-size: 16px;
  border-left: 1px solid #666;
}
header nav a:last-child{
  border-right: 1px solid #666;
}
section{
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
section::before,
footer::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 52px;
  top: -26px;
  left: 0;
  margin: auto;
  background: url(../images/division.png) no-repeat center;
}
main{
  position: relative;
  width: 1140px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
article{
  width: 570px;
  height: auto;
  color: #fff;
}
article h2{
  width: fit-content;
  font-size: 82px;
  border-bottom: 1px solid #fff;
  margin-top: 110px;
  margin-bottom: 40px;
  font-weight: bold;
}
article p{
  font-size: 20px;
  line-height: 40px;
  word-wrap: break-word;
}

footer{
  position: relative;
  width: 100%;
  height: 85px;
  color: #fff;
  text-align: center;
  line-height: 85px;
  background-color: #000;
  font-size: 14px;
}
.section1 {
  position: relative;
  width: 100%;
  height: 784px;
  background-image: linear-gradient(
    55deg,
    #272553 16.45%,
    rgba(40, 39, 84, 0.54) 34%,
    rgba(39, 37, 83, 0) 40%
  ),
  url(../images/section1-bg.jpg);
}
.section1 .logo{
  position: absolute;
  width: 280px;
  top: 85px;
  left: 0;
  right: 0;
  margin: auto;
}
.section1 .welcome{
  width: 350px;
  margin-top: 228px;
  margin-left: 40px;
}
.section1 .download-container{
  display: flex;
  width: 407px;
  height: 59px;
  justify-content: space-between;
  margin-top: 77px;
  margin-left: 40px;
}
.section1 .play-btn{
  width: 187px;
  margin-top: 60px;
  margin-left: 40px;
  cursor: pointer;
}
.section1 .share-nav{
  position: absolute;
  width: 106px;
  height: 161px;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-image: url(../images/share-nav-bg.png);
  overflow: hidden;
  background-position-x: left;
}
.section1 .share-nav a{
  display: block;
  margin-left: 44px;
  background-repeat: no-repeat;
}
.section1 .share-nav .facebook{
  width: 55px;
  height: 55px;
  margin-top: 17px;
  background-image: url(../images/facebook-icon.png);
}
.section1 .share-nav .twitter{
  width: 56px;
  height: 56px;
  margin-top: 8px;
  background-image: url(../images/twitter-icon.png);
}
.section1 .share-nav .google{
  width: 54px;
  height: 61px;
  margin-top: 10px;
  background-image: url(../images/gp-icon.png);
}
.section1 .apk{
  width: 53px;
  height: 55px;
  margin-top: 14px;
  background-image: url(../images/apk-icon.png);
}
.section1 .share-nav img{
  position: absolute;
  top: 101px;
  left: 6px;
  cursor: pointer;
}
.section1 .share-nav img.rotate{
  transform: rotate(180deg);
  left: 2px;
}
.section1 .video-container{
  position: absolute;
  width: 782px;
  height: 462px;
  top: 278px;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
}
.section1 .video-container .border{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.section1 .video-wrapper{
  width: 100%;
  height: 100%;
}
.section1 .video-wrapper .video-pic{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.6);
}
.section1 .video-wrapper video{
  width: 100%;
  height: 100%;
}
.section1 .video-play{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}
.section2{
  width: 100%;
  height: 811px;
  background-image: url(../images/section2-bg.jpg);
}

.section2 article{
  float: right;
}
.section3{
  width: 100%;
  height: 821px;
}
.section3.humans{
  background-image: url(../images/humans-bg.jpg);
}
.section3.mosters{
  background-image: url(../images/mosters-bg.jpg);
}
.section3.robots{
  background-image: url(../images/robots-bg.jpg);
}
.section3 article{
  display: none;
}
.section3 article.humans{
  display: block;
}
.section3 ul{
  position: absolute;
  display: flex;
  width: 528px;
  height: 158px;
  top: 475px;
  left: 0;
  justify-content: space-between;
}
.section3 ul li{
  width: 158px;
  height: 158px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.section3 ul li.humans.grey{
  background-image: url(../images/humans-icon-grey.png);
}
.section3 ul li.humans{
  background-image: url(../images/humans-icon.png);
}
.section3 ul li.mosters.grey{
  background-image: url(../images/mosters-icon-grey.png);
}
.section3 ul li.mosters{
  background-image: url(../images/mosters-icon.png);
}
.section3 ul li.robots.grey{
  background-image: url(../images/robots-icon-grey.png);
}
.section3 ul li.robots{
  background-image: url(../images/robots-icon.png);
}
.section4{
  width: 100%;
  height: 821px;
  background-image: url(../images/section4-bg.jpg);
}
.section4 p{
  padding-left: 40px;
  background: url(../images/list-item-bg.png) no-repeat;
  background-position-y: 9px;
}
.section4 article{
  float: right;
}

/* header media styles */
@media (max-width: 768px) {
  header{
    display: none;
  }
}

/* section media styles */
@media (max-width: 768px) {
  section::before,
  footer::before{
    height: 0.52rem;
    top: -0.26rem;
    left: 0;
    margin: auto;
    background: url(../images/division.png) no-repeat center;
    background-size: auto 100%;
  }
}

/* main media styles */
@media (max-width: 1260px) {
  main{
    width: 100%;
  }
}
@media (max-width: 768px) {
  main{
    width: 100%;
  }
}

/* article media styles */
@media (max-width: 768px) {
  article{
    width: 6.1rem;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
  }
  article h2{
    font-size: 0.55rem;
    float: right;
    margin-top: 1.1rem;
    margin-bottom: 0;
  }
  article p{
    font-size: 0.22rem;
    line-height: 0.4rem;
  }
  .wrapper article{
    float: none;
  }
}

/* section1 media styles */
@media (max-width: 1680px) {
  .section1 .welcome{
    margin-left: 20px;
  }
  .section1 .download-container{
    display: block;
    height: auto;
    margin-top: 40px;
    margin-left: 20px;
  }
  .section1 .download-container img{
    display: block;
    margin-top: 10px;
  }
  .section1 .play-btn{
    margin-left: 20px;
  }
  .section1 .video-container{
    top: 295px;
  }
}
@media (max-width: 1680px) {
  .section1 .welcome{
    margin-left: 20px;
  }
  .section1 .download-container{
    display: block;
    height: auto;
    margin-top: 40px;
    margin-left: 20px;
  }
  .section1 .download-container img{
    display: block;
    margin-top: 10px;
  }
  .section1 .play-btn{
    margin-left: 20px;
  }
  .section1 .video-container{
    top: 295px;
  }
}
@media (max-width: 1260px) {
  .section1 .welcome{
    display: none;
  }
  .section1 .download-container{
    display: none;
  }
  .section1 .download-container{
    display: none;
  }
  .section1 .play-btn{
    display: none;
  }
  .section1 .video-container{
    width: 65%;
    height: auto;
  }
}
@media (max-width: 768px) {
  .section1{
    width: 100%;
    height: 13.68rem;
    background-image: url(../images/section1-m-bg.jpg);
  }
  .section1 .logo{
    width: 2.92rem;
    top: 1.23rem;
  }
  .section1 .video-container{
    width: 7.41rem;
    height: 4.38rem;
    top: 3.84rem;
    display: block;
    overflow: hidden;
  }
  .section1 .video-wrapper{
    width: 100%;
    height: 100%;
  }
  .section1 .video-wrapper .video-pic{
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
  .section1 .video-play{
    width: 1rem;
  }
  .section1 .welcome{
    display: none;
  }
  .section1 .download-container{
    display: none;
  }
  .section1 .play-btn{
    display: none;
  }
  .section1 .share-nav{
    width: 2.8rem;
    height: 0.96rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: unset;
    margin: auto;
    background: url(../images/share-nav-m-bg.png) no-repeat;
    background-size: 100% 100%;
  }
  .wrapper .section1 .share-nav a{
    width: 0.66rem;
    height: 0.66rem;
    margin-top: 0.09rem;
    background-size: 100% 100%;
    float: left;
  }
  .section1 .share-nav .facebook{
    margin-left: 0.35rem;
  }
  .section1 .share-nav .twitter{
    margin-left: 0.27rem;
  }
  .section1 .share-nav .google{
    margin-left: 0.78rem;
  }
  .section1 .share-nav .apk{
    margin-left: 0.35rem;
  }
}

/* section2 media styles */
@media (max-width: 768px) {
  .section2{
    width: 100%;
    height: 13.66rem;
    background-image: url(../images/section2-m-bg.jpg);
  }
  .section2 article p{
    margin-top: 9.2rem;
  }
}

/* section3 media styles */
@media (max-width: 1260px) {
  .section3.humans{
    background: url(../images/humans-m-bg.jpg) no-repeat;
    background-size: 100% 100%;
  }
  .section3.mosters{
    background: url(../images/mosters-m-bg.jpg) no-repeat;
    background-size: 100% 100%;
  }
  .section3.robots{
    background: url(../images/robots-m-bg.jpg) no-repeat;
    background-size: 100% 100%;
  }
  .section3 article,
  .section3 ul{
    margin-left: 10px;
  }
}
@media (max-width: 768px) {
  .section3{
    width: 100%;
    height: 13.68rem;
    background-image: url(../images/section1-m-bg.jpg);
  }
  .section3 article p{
    margin-top: 2.4rem;
  }
  .section3 ul{
    width: 5.15rem;
    height: 1.57rem;
    top: 4rem;
    left: 0;
    right: 0;
    margin: auto;
  }
  .section3 ul li{
    width: 1.57rem;
    height: 1.57rem;
  }
}

/* section4 media styles */
@media (max-width: 768px) {
  .section4{
    width: 100%;
    height: 13.68rem;
    background-image: url(../images/section4-m-bg.jpg);
  }
  .section4 article p:nth-child(2){
    margin-top: 2.9rem;
  }
  .section4 article p{
    margin-top: 0.2rem;
    padding-left: 0.4rem;
    background: url(../images/list-item-bg.png) no-repeat;
    background-size: 0.2rem;
    background-position-y: 0.09rem;
  }
}
