@charset "utf-8";
/* CSS Document */

body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, input, button,
textarea, p, blockquote, th, td, img {
    margin: 0;
    padding: 0;
}
fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn,
em, strong, th, var, optgroup {
    font-style: normal;
    font-weight: normal;
}
 
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
abbr, acronym {
    border: 0;
    font-variant: normal;
}
 
input, button, textarea,
select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
code, kbd, samp, tt {
    font-size: 100%;
}
/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input, button, textarea, select {
    *font-size: 100%;
}
input[type="button"], input[type="submit"], input[type="reset"] {
    -webkit-appearance: none;
}
body {
    line-height: 1.5;
	font-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-font-size-adjust: none;
	-ms-font-size-adjust: none;
	-o-font-size-adjust: none;
    font-family: "Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;
}
ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th {
    text-align: left;
}
sup, sub {
    font-size: 100%;
    vertical-align: baseline;
}
/* remember to highlight anchors and inserts somehow! */
:link, :visited , ins {
    text-decoration: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
.cl:after { 
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.cl {display: inline-block;}
 
/* Hides from IE-mac \*/
* html .cl {height: 1%;} 
.cl {display: block;} 
/* End hide from IE-mac */
/* ie6 hack */
/**html, *html body {
    background-image: url(about:blank);
    background-attachment: fixed;
}
*html .fix {
    position: absolute;
    top: expression(((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+100+'px');
}*/
a {
    color: inherit;
}
.__check__css__loaded0 {display: none;}